<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">
          <h1>Blog Title</h1>
        </a>
        <p>A ASITY site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>
    <div class="not-found content">OOP's page not found, dear</div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
