<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
      <h2>About author</h2>
      <p>
        An avid and passionate full stack web developer specializing in the MERN
        stack & UI/UX Design. I love to build and design websites & apps which
        the end user would enjoy using while keeping the products performant and
        the code clean. Up for freelance web development work and collaborating
        on exciting projects.
      </p>
      <hr />
      <p>Regards</p>
      <strong> Manikangkan Das </strong>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
